Source: haskell-happstack-ghcjs-server
Maintainer: Clifford Beshers <beshers@seereason.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-happstack-server-dev
               , libghc-happstack-server-prof
               , libghc-hslogger-dev
               , libghc-hslogger-prof
Build-Depends-Indep: ghc-doc
                     , libghc-happstack-server-doc
                     , libghc-hslogger-doc

Package: haskell-happstack-ghcjs-server-utils
Architecture: any
Section: misc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Library and examples for building happstack applications with ghcjs/ghc
 Library and examples for building happstack applications with ghcjs/ghc
 .
  Author: Clifford Beshers <beshers@seereason.com>
  Upstream-Maintainer: Clifford Beshers <beshers@seereason.com>
 .
 Files associated with the happstack-ghcjs-server package.
